<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block javascript %}
            {% javascripts
    '@jquery_js'
    '@bootstrap_js'
    output='js/main.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

        {% block stylesheet %}
            {% stylesheets
    '@bootstrap_css'
    'bundles/app/css/style.css'
    'bundles/app/css/menu.css'
    'bundles/app/css/produit.css'
    output='css/main.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            {% stylesheets
    '@components_font_awesome_css'
    output='css/font.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        {% block title %}
            <title>Ecom</title>
        {% endblock %}
    </head>
    <body>
        <div>
            {% include '@AppBundle/menu.html.twig' %}
            <div class="/*border-contenu*/">
                    {% block content %}
                    {% endblock %}  
            </div>
        </div>
    </body>
</html> 