{% extends "@AdminBundle/layout.html.twig" %}
{% block body_javascript %}
    <script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
    <script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>
    <script type="text/javascript">
        {% for highchart in highcharts %}
            {{ chart(highchart) }}
        {% endfor %}
    </script>{% endblock body_javascript %}
    {% block content %}
        {% block flash_messages %}
            {{ include(_entity_config is defined ? _entity_config.templates.flash_messages : '@EasyAdmin/default/flash_messages.html.twig') }}
        {% endblock flash_messages %}

        <section class="content-header">
            {% block content_header %}
                <h1 class="title">{% block content_title %}{% endblock %}</h1>
            {% endblock content_header %}
        </section>

        <section id="main" class="content">
            {% block main %}


                <div id="charts" style="
                     display: flex;
                     flex-direction: row;
                     flex-wrap: wrap;
                     justify-content: space-around;">
                    {% for name,highchart in highcharts %}
                        <div id="{{name}}" style="
                             width: 400px;
                             height:400px;
                             margin: 5px auto;
                             flex-grow:0.3;"></div>
                    {% endfor %}
                </div>

                {#<div id="bounceRate" style="min-width: 200px; height: 200px; margin: 0 auto"></div>
                <div id="avgTimeOnPage" style="min-width: 200px; height: 200px; margin: 0 auto"></div>
                <div id="pageViewsPerSession" style="min-width: 200px; height: 200px; margin: 0 auto"></div>
                <div id="percentNewVisits" style="min-width: 200px; height: 200px; margin: 0 auto"></div>
                <div id="pageViews" style="min-width: 200px; height: 200px; margin: 0 auto"></div>
                <div id="avgPageLoadTime" style="min-width: 200px; height: 200px; margin: 0 auto"></div>#}


            {% endblock %}
        </section>
    {% endblock content %}
